# SPDX-FileCopyrightText: 2026 llmpalooza contributors
# SPDX-License-Identifier: Apache-2.0
# clangd (the SDK's bin/clangd) reads the native build's compile database,
# which `mise run build` writes.
CompileFlags:
  CompilationDatabase: build/native
