# SPDX-FileCopyrightText: 2026 llmpalooza contributors
# SPDX-License-Identifier: Apache-2.0
# Llmpalooza's C++ and CUDA style (D-059): Google style, 100 columns.
---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
...
